<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="arrow-round-back"></ion-icon>
  </ion-fab-button>
</ion-fab>




<ion-content>
  <ion-grid fixed>
    <form (ngSubmit)="registro(fRegistro)" #fRegistro="ngForm">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Nombre Empleado: </ion-label>
              <ion-input name="nombre_empleado" type="text" [(ngModel)]="registro1.usuario" required></ion-input>
            </ion-item>           
            <ion-item>
              <ion-label>Telefono: </ion-label>
              <ion-input name="telefono" type="number" [(ngModel)]="registro1.telefono" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Email: </ion-label>
              <ion-input name="email" type="email" [(ngModel)]="registro1.email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Direccion : </ion-label>
              <ion-input name="direccion " type="text" [(ngModel)]="registro1.direccion" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Contraseña: </ion-label>
              <ion-input
                name="password"
                type="password"
                [(ngModel)]="registro1.pass"
                required
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block">
            Crear usuario
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
